.header {
  width: 100%;
  background-color: var(--background-secondary);
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul {
  display: flex;
  gap: 1rem;
}

.items {
  list-style: none;  
}
.items a, .nav a {
  color: var(--text-light);
  transition: .2s;
}

.nav:hover {
  color: var(--blue-gradient);
}