:root {
  --background-primary: #252729;
  --text: #7D7D7D;
  --text-light: #E3E3E3;
  --background-secondary: #3D3D3D;
  --active: orange;
  --pink-gradient: #8134AF;
  --orange-gradient:#FD9346;
  --blue-gradient: #0EA2B0;
}

*{
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}

#root {
  background-color: var(--background-primary);
  color: var(--text-light);
}